.DS_Store
.atom/
.idea/
.vscode/*
.melos_tool/
!.vscode/tasks.json
!.vscode/settings.json

.packages
.pub/
.dart_tool/
pubspec.lock
pubspec_overrides.yaml
flutter_export_environment.sh

*.iml

GeneratedPluginRegistrant.h
GeneratedPluginRegistrant.m
GeneratedPluginRegistrant.java
GeneratedPluginRegistrant.swift
generated_plugin_registrant.dart

build/
.flutter-plugins
.flutter-plugins-dependencies

.project
.classpath
.settings
.last_build_id

**/.fvm/
**/.idea/

# Misc
packages/flutter_leaf_kit/